@import "icons";
@import "mixins";

$color-bg: #4e5860;
$color-primary: #F3F8F9;
$color-secondary: #2e3335;

$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$radius: 13px;

body {
	padding: 0;
	margin: 0;
}

#weather-widget {
	font-family: $font;
	position: relative;
	min-width: 100vw;
	min-height: 100vh;
	background-color: $color-bg;

	.card {
		@include vertical-align;
		margin: auto;
		width: 100%;
		max-width: 400px;
		max-height: 467px;
		transform: perspective(100%);
	}

	.front, .back {
		position:absolute;
		transition: transform .5s linear 0s;
		width: 100%;
		box-shadow: 0px 15px 12px 0px rgba(50,50,50,0.55);
    	border-radius: $radius;
    	backface-visibility: hidden;
	}
	.front {
		z-index: 3;
		transform: rotateY( 0deg );
	}
	.back{
		z-index: 2;
		transform: rotateY( 180deg );
		background: #ffffff;
		width: 100%;
		height: 100%;
	}

	.card.flipped {
		.front {
			transform: rotateY( -180deg );
		}
		.back {
			transform: rotateY( 0deg );
		}
	}

	.primary {
		position: relative;
		padding: 25px;
		background-color: $color-primary;
		@include radius(13px, 0);

		&:after {
			clear: both;
		}

		.details  {
			max-width: 80%;
			div {
				display: inline-block;
				vertical-align: bottom;
				letter-spacing: 1.05pt;
			}
		}

		.info {
			margin-left: 10px;
			span {
				display: block;
			}
		}

		.temperature, .location {
			color: rgb(166,162,171);
		}
		.temperature {
			font-size: 50px;
			font-weight: 200;
		}
		.description {
			color: rgb(204,209,212);
			font-size: 25px;
			font-weight: 100;
			text-transform: capitalize;
		}
		.location {
			margin-top: 5px;
			font-size: 15px;
			font-weight: 300;
		}
	}

	.secondary {
		padding: 60px 20px;
		@include radius(0, 13px);
		background-color: $color-secondary;
		color: #ffffff;
		text-align: center;

		div {
			display: inline-block;
			margin-left: 20px;
			&:first-child {
				margin-left: 0;
			}
		}

		img, span {
			vertical-align: middle;
		}

		span {
			font-size: 13px;
		}

		span.field {
			margin-left: 15px;
		}

		i {
			color: #505557;
		}
	}

	.flip {
		position: absolute;
		cursor: pointer;
		top: 30px;
		right: 30px;
	}

	.weather-icon {
		display: block;
		margin: 50px auto;
	}

	.date {
		position: absolute;
		bottom: 20px;
		right: 0;
		background-color: #54bae6;
		padding: 15px;

		span {
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			display: block;
			color: #ffffff;
			text-align: center;
			line-height: 1.5;
		}

		.day {
			font-size: 17px;
		}

		b {
			font-weight: 600;
		}
	}

	#map {
		border-radius: $radius;
		width: 100%;
		height: 100%;
	}
}